
:root{
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   border-radius: 0vmin;
}

#body{
	position:absolute;
	top:0px; left:0px;
	height: 100%; width: 100%;
	overflow: hidden;
   background-color: #050505;
   margin: 0px;
   display: flex;
 }

#top_bar{
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   background-color: #050505;
   width: 100%;
   min-height: 77px;
   z-index: 999;
}

#logo{
   font-size: 25px;
   font-weight: 500;
   color: #FFFE;
   float: left;
   margin: 22px;
   margin-left: 80px;
}

.menu_button{
   font-size: 17px;
   font-weight: 250;
   color: #FFFA;
   float: left;
   margin: 28px;
   margin-left: 7px;
   margin-right: 7px;
   height: 100%;
   text-align: center;
   user-select: none;
   cursor: pointer;
}

.menu_button:hover{
   color: #FFFF;
   font-weight: 350;
}

#content{
   position: relative;
   height: fit-content;
   width: 75%;
   margin: auto;
}

#grok{
   width: 100%;
   shape-rendering: geometricPrecision;
 }

 #grok path{
    stroke: #FFF;
    stroke-width: 0.1;
    fill: none;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 15s linear;
    animation-fill-mode: forwards;
}

.fadein{
   fill: #FFF4;
   animation: fadeout 6s ease;
   animation-fill-mode: forwards;
   animation-delay: 0.2s;
}

@keyframes fadeout{
   to{
      fill: #FFF0;
   }
}

@keyframes dash{
   to{
      stroke-dashoffset: 0;;
   }
}

#intro{
   margin-top: 100px;
   font-size: 35px;
   font-weight: 170;
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   color: #FFFE;
}

#intro_buttons{
   user-select: none;
   padding-top: 25px;
   margin: 20px;
   width: 330px;
   margin: auto;
   display: flex;
   justify-content: space-between;
}

.intro_button{
   width: fit-content;
   font-size: 27px;
   font-weight: 200;
   color: #FFF9;
   padding-bottom: 8px;
   border-bottom: solid 1px;
   transition: 0.25s linear;
   cursor: pointer;
}

.intro_button:hover{
   color: #FFF;
   padding-bottom: 3px;
   font-weight: 300;
}

footer{
   position:absolute;
   bottom:0;
   left:50%;
   transform: translateX(-50%);
   font-size: 1.2vmin;
}

a:link{
   color: #FFF1;
   text-decoration: none;
}

a:visited{
   color: #FFF1;
   text-decoration: none;
}

a:hover{
   color: #FFF1;
   text-decoration: none;
}

a:active{
   color: #FFF1;
   text-decoration: none;
}